@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

:root {
    --font: 'Quicksand', sans-serif;
    --background: #202124;
    --color: #d0d8c8;
}

body{
    background-color: var(--background);
    color: var(--color);
    font-family: var(--font);
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;

}

.container {
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    justify-content: center;
    margin: 0;
}

footer{
    text-align: center;
    font-size: 0.75rem;
    font-weight: 400;
    padding-bottom: 20px;
}

#userPhoto{
    object-fit: cover;
    width: 96px;
    height: 96px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    border: solid var(--color) 2px;
    background-color: #6ee0e5
}

#userName{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    line-height: 1.25;
    display: block;
    color: var(--color);
    visibility: hidden;
}

#press-material-link{
    max-width: 90%;
    width: 70%;
    display: block;
}

#press-links{
    max-width: 90%;
    width: 70%;
    display: block;
}

#links{
    max-width: 90%;
    width: 70%;
    display: block;
}

#epk-bio{
    width: 500px;
    font-size: 0.75rem;
    max-width: 90%;
    overflow: hidden;
    word-wrap: break-word; /* Allow words to break and wrap onto the next line */
    overflow-wrap: break-word; /* Internet Explorer 5.5-11 */
    /*width: 70%;*/
    display: block;
}

.epk-releases{
    width: 500px;
    font-size: 0.75rem;
    max-width: 90%;
    overflow: hidden;
    word-wrap: break-word; /* Allow words to break and wrap onto the next line */
    overflow-wrap: break-word; /* Internet Explorer 5.5-11 */
    /*width: 70%;*/
    display: block;
}

#epk-affiliations{
    width: 700px;
    font-size: 0.75rem;
    max-width: 90%;
    overflow: hidden;
    word-wrap: break-word; /* Allow words to break and wrap onto the next line */
    overflow-wrap: break-word; /* Internet Explorer 5.5-11 */
    /*width: 70%;*/
    display: block;
}

#epk-event-history{
    width: 700px;
    font-size: 0.75rem;
    max-width: 95%;
    overflow: hidden;
    word-wrap: break-word; /* Allow words to break and wrap onto the next line */
    overflow-wrap: break-word; /* Internet Explorer 5.5-11 */
    /*width: 70%;*/
    display: block;
}

.epk-mix-link{
    font-size: 0.75rem;
    color: var(--color);
    text-decoration: none;
    text-transform: uppercase;
    /*width: 70%;*/
}

#events{
    max-width: 90%;
    width: 70%;
    display: block;
}

#mixes{
    max-width: 90%;
    width: 70%;
    display: block;
}

.link{
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    border: solid var(--color) 2px;
    text-align: center;
    text-decoration: none;
    color: var(--color);
    word-wrap: break-word;
}

.press-link{
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: var(--color);
    word-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #202124;
        --color: #d0d8c8;
    }
}

.social-media {
    text-align: center;
    overflow: hidden;
    width: 400px;
}

.social-media h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.social-media h2 i {
    color: #dd4b39;
}

.social-media div.list-social {
    width: 300px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.social-media div.list-social div a {
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    align-items: center;
    display: inline-block;
    margin: auto;
    padding: 3px;
    width: 35px;
    height: 30px;
    color: #d0d8c8;
    border-radius: 100%;
}

.social-media div.list-social div.social-media-icon a {
    background-color: #222222;
}

.social-media div.list-social div.social-media-icon a:hover {
    background-color: #4c4c4c;
}

.custom-icon {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    margin: auto;
    height: 30px;
    width: 30px;
}

.custom-icon-small {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    margin: auto;
    height: 25px;
    width: 25px;
}

.custom-icon-smaller {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    margin: auto;
    height: 20px;
    width: 20px;
}

.disabled {
    filter: brightness(55%);
}

.caption {
    font-family: var(--font);
    /* Make the caption a block so it occupies its own line. */
    display: block;
    font-size: 0px;
    margin-top: 1px;
}

.link.spotify-cta {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("./img/spotify.png");
    background-size: 100%;
}

.link.double-vision {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://geo-media.beatport.com/image_size/1400x1400/ee9d43bd-87e1-4e00-b821-4cf2239a2e88.jpg");
    background-size: 30%;
    font-family: var(--font);
}

.link.strip {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://geo-media.beatport.com/image_size/1400x1400/1bdc96ae-5c6f-434b-9b5b-ee1e604eecbd.jpg");
    background-size: 30%;
}

.link.core-dump {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://geo-media.beatport.com/image_size/1400x1400/098a63fe-1a3c-4023-aea5-c9f8b1e5f857.jpg");
    background-size: 30%;
}

.link.step-into {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://geo-media.beatport.com/image_size/1400x1400/81d8bb5d-5768-43a4-9bc6-3d831e5622cd.jpg");
    background-size: 30%;
}

.link.escalation {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://geo-media.beatport.com/image_size/1400x1400/48ad8ec8-841b-467a-b29b-2a6ca1298fd7.jpg");
    background-size: 30%;
}

.link.illusion {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://geo-media.beatport.com/image_size/1400x1400/64d07940-47f4-4b49-b1db-c68056147941.jpg");
    background-size: 30%;
}

.link.invoke {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://geo-media.beatport.com/image_size/1400x1400/177b7891-0b5b-4197-b096-5355ddb1f222.jpg");
    background-size: 30%;
}

.link.muted {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://geo-media.beatport.com/image_size/1400x1400/4add285e-9794-48d9-80ee-b74a4e584666.jpg");
    background-size: 30%;
}

.link.building {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://geo-media.beatport.com/image_size/1400x1400/587f1b23-804a-4d1e-8023-bd07a1c26d50.jpg");
    background-size: 30%;
}

.link.tranquilizer {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://geo-media.beatport.com/image_size/1400x1400/2764fc9d-1a73-458e-b6f6-ed274ebaa9a5.jpg");
    background-size: 30%;
}

.link.osmosis {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://geo-media.beatport.com/image_size/1400x1400/6fc6a694-586a-4c60-9101-c8ca6721f00d.jpg");
    background-size: 30%;
}

.link.jonas {
    color: #d0d8c8;
    font-size: 13px;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://ugc.production.linktr.ee/b892d273-25ca-40f0-ad61-59e4f6438332_3ded7506-3796-4e24-a598-259b253c59bf--og.png?io=true&size=thumbnail-stack-v1_0");
    background-size: 30%;
}

.link.soundcloud-cta {
    color: #d0d8c8;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://i.imgur.com/rkorNuM.jpeg");
    background-size: 30%;
}
